h1 {
    padding-top: 30px;
    font-family: fantasy;
    color: black;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

h3 {
    background-color: black;
    color: black;
}

nav {
    position: fixed;
    background-color: rgb(194, 201, 236);
}

footer {
    margin-bottom: 40px;
}

.image {
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote:hover {
    transform: scale(1.2)
}

h2:hover {
    background-color: skyblue;
    box-shadow: 10px 10px;
}

p:hover {
    background-color: white;
    box-shadow: 10px 10px;
}

h1:hover {
    background-color: skyblue;
}

/* Obigatory "nth-child" line of code, for good measure :) */

li:nth-child(odd) {
    background-color: white;
    border: 2px solid red;
    margin-bottom: 1px;
}

body {
    background-size: 100%;
}

.indextext {
    color: darkgray;
}

/* The following four classes govern spacing and "hover effects" on the "contactform.html" page. */

.container {
    padding-top: 50px;
    display: flex;
}

.container:hover {
    transform: scale(1.5);
}

.contact-all {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.contact {
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkmagenta;
    background-color: deepskyblue;
}

/* The two classes below govern the effects on the "success.html" page. */

.submitted {
    display: flex;
    justify-content: center;
    color: navy;
}

.fireworks {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

/* The following 3 classes govern "hidden text" on portfolio page */

.hovertext {
    padding-top: 20px;
}

.hovertext:hover+.hide {
    display: block;
    color: navy;
}

.hide {
    display: none;
}