h3 {
    background-color: black;
    color: black;
}

nav {
    position: fixed;
    background-color: rgb(194, 201, 236);
}

h1 {
    padding-top: 30px;
    font-family: fantasy;
    color: black;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}


.image {
    padding-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2:hover {
    background-color: skyblue;
    box-shadow: 10px 10px;
}

p:hover {
    background-color: plum;
    box-shadow: 10px 10px;
}

h1:hover {
    background-color: skyblue;
}

.container {
    padding-top: 50px;
    display: flex;
}

.contact-all {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.contact {
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkmagenta;
    background-color: deepskyblue;
}

ul:hover {
    background-color: plum;
    box-shadow: 10px 10px;
}

li:nth-child(odd) {
    background-color: white;
    border: 2px solid red;
    margin-bottom: 1px;
}

body {
    background-size: 100%;
}

.indextext {
    color: darkgray;
}